body {
    background: linear-gradient(to bottom, #1e5dab, #08377c);
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

header {
    margin-left: 90px;
    margin-right: 20px;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #faf4f4;
}

#nav_link a{
    padding: 10px;
}

nav a:hover {
    color: #417dd8;
}

nav button:hover {
    background-color: aqua;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    color: white;
}

nav a {
    text-decoration: none;
    color: inherit;
}

#card_presentation {
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#card_presentation h1 {
    color: rgb(255, 254, 252);
    margin: 0;
    padding: 0;
}


#card_presentation h4 {
    color: rgb(156, 156, 156);
    margin-bottom: 0;
    padding: 0;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
}

#about img {
    max-width: 300px;
    border-radius: 15%;
    
}

#about_card {
    max-width: 500px;
    margin: 50px;
}

#portfolio h1 {
    margin-bottom: 20px;
}

#portfolio img {
    max-width: 200px;
    height: 200px;
}

#portfolio_title {
    display: flex;
    justify-content: center;
}

#project_1 {
    margin-top: 60px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#project_1 p {
    max-width: 600px;
    margin-right: 60px;
}

#project_2 {
    margin-top: 60px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#project_2 p {
    max-width: 600px;
    margin-left: 60px;
}

#technologies {
    margin: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#technologies h1 {
    margin: 60px;
    display: flex;
    justify-content: center;
}


#technologies_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
    border: 1px solid #093064;
}

#technologies_icons img {
    max-width: 100px;
    height: auto;
    margin: 20px;
}

.technologie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact {
    margin: 60px;
    text-align: center;
}

#contact h1 {
    margin-bottom: 20px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#contact li {
    list-style: none;
    margin-bottom: 10px;
}

#contact img {
    width: 30px;
    height: 30px;
    margin-right: 0;
}

@media (max-width: 768px) {
    #about img {
        max-width: 80%;
    }

    #portfolio img {
        max-width: 80px;
    }
}


@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #about img {
        max-width: 100%;
    }

    #portfolio img {
        max-width: 60px;
    }
}
